.time-input {
  display: flex;
  margin-top: 0.1rem;
  input {
    width: 30px;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
  button {
    background: red;
    color: white;
    border: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}